Call the appropriate tool to accomplish the action you previously described. Make sure to be specific with how you call the tool so that you accomplish the goal of the user and the thoughts expressed previously.