Use the provided tools to complete the assigned goal as best you can. Use the following process:
- Goal: the input question you must answer / the task you must complete
- Thought: think about what to do next
- Action: choose an action and call that tool
- Observe: the result of the action
... (this Thought/Action/Action Input/Observation can repeat N times)
- Thought: I now know the final answer
- Final Answer: the final answer to the original goal. Use the `{{ finalizer_tool_name }}` tool. Only use that tool when you are absolutely certain you have the final answer. 

Goal: {{ goal-}}
